* {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab', serif;
    margin: 10px 0;
}

h1 {
    
    font-size: 2.441rem;
}

h2 {
    font-size: 1.953rem;
}

h3 {
    font-size: 1.25rem;
}

p {
color: darkslategrey;
}

.icons {
    font-size: 50px;
}


div {
    border: 1px black solid;
}

section {
    /* background-color: grey; */
    padding: 80px 40px;
}

header {
justify-content: space-around;
align-items: center;
}

footer {
    justify-content: space-evenly;
    background-color: lightpink;
    padding: 40px;
}

/* links */
a:link, a:visited {
    text-decoration: none;
    color: fuchsia;
    padding: 16px 24px;
}

a:hover {
    color: deepskyblue;
}

/* cta button */

a.cta-button:link, a.cta-button:visited {
    background-color: indianred;
    border-radius: 8px;
    color: ivory;
    padding: 16px 24px;
}

a.cta-button:hover {
    background-color: lightgreen;
}

a.cta-button:active {
    background-color: darkorchid;
}



/* CV Download Button */

a.cv-button:link, a.cv-button:visited {
    background-color: indianred;
    border-radius: 8px;
    color: ivory;
    padding: 8px 16px;
}

a.cv-button:hover {
    background-color: lightgreen;
}

a.cv-button:active {
    background-color: darkorchid;
}

/* .img {
    width:100%;
} */
.card {
width: 250px;
}

.img-card {
    width: 100%;
}

.img-feat {
    width: 80px;
    height: 80px;
    border-radius: 50px;
}

.container {
    display: flex;
}

.author-photo {
    width: 40px;
    height: 40px;
}

.author-card {
    align-items: center;
}

/* .feat-card {

} */

#hero {
    background-image: url('../img/frederic-paulussen-0F_FmdOWa9w-unsplash.jpg');
background-size: cover;
height: 60vh;
text-align: center;
}

#hero div {
padding: 20px;
}

#articles {
    justify-content: space-between;
}

#contact {
justify-content: space-around;

}
