* {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab', serif;
    margin: 10px 0;
}

h1 {
    
    font-size: 2.441rem;
}

h2 {
    font-size: 1.953rem;
}

h3 {
    font-size: 1.25rem;
}

p {
color: darkslategrey;
}

.icons {
    font-size: 50px;
}


/* div {
    border: 1px black solid;
} */

section {
    /* background-color: grey; */
    padding: 80px 40px;
}

header {
justify-content: space-around;
align-items: center;
}

footer {
    justify-content: space-evenly;
    background-color: lightpink;
    padding: 40px;
}

video {
    width: 100%;
}

/* forms */
textarea {
    box-sizing: border-box;
    width: 240px;
    height: 150px;
    padding: 16px 24px;
    margin: 8px 0;
    border-radius: 5px;
    border: 1px solid gray;
}

textarea:focus {
    outline: 0;
    background-color: greenyellow;

}

input[type=text] {
    box-sizing: border-box;
    background-image: url('../icons/user-line.png');
    background-repeat: no-repeat;
    background-position: 8px;
    padding-left: 40px;
    width: 77%;
}

input[type=email] {
    box-sizing: border-box;
    background-image: url('../icons/mail-line.png');
    background-repeat: no-repeat;
    background-position: 8px;
    padding-left: 40px;
    width: 77%;
}

input {
    /* width: 80%; */
    padding: 16px 24px;
    margin: 8px 0;
    border-radius: 5px;
    border: 1px solid grey;
}

input:focus {
    background-color: khaki;
    border: none;
}

input[type=submit] {
    border: none;
    background-color: indianred;
    color: white;
    cursor: pointer;
}

/* links */
a:link, a:visited {
    text-decoration: none;
    color: fuchsia;
    padding: 16px 24px;
}

a:hover {
    color: deepskyblue;
}

/* cta button */

a.cta-button:link, a.cta-button:visited {
    background-color: indianred;
    border-radius: 8px;
    color: ivory;
    padding: 16px 24px;
}

a.cta-button:hover {
    background-color: lightgreen;
}

a.cta-button:active {
    background-color: darkorchid;
}



/* CV Download Button */

a.cv-button:link, a.cv-button:visited {
    background-color: indianred;
    border-radius: 8px;
    color: ivory;
    padding: 8px 16px;
}

a.cv-button:hover {
    background-color: lightgreen;
}

a.cv-button:active {
    background-color: darkorchid;
}

/* .img {
    width:100%;
} */
.card {
width: 250px;
}

.img-card {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.img-feat {
    width: 80px;
    height: 80px;
    border-radius: 50px;
    margin: 20px;
}

.img-holder {
    position: relative;
    right: 0;
    /* bottom: 0; */
    height: 200px;
    width: 100%;
    overflow: hidden;
}

.container {
    display: flex;
}

.author-photo {
    width: 40px;
    height: 40px;
}

.author-card {
    align-items: center;
}

.feat-item {
    flex-grow: 1;
}

.div-contact {
    flex: 1;
}

a.btn-rocio {
    font-family: 'Poppins', sans-serif;
    color: #131045;
    background-color: white;
    border: 3px solid #131045;
    padding: 10px 20px;
    box-shadow: 4px 4px 0 #131045;
    border-radius: 100px;
}

/* .feat-card {

} */

#hero {
    background-image: url('../img/frederic-paulussen-0F_FmdOWa9w-unsplash.jpg');
background-size: cover;
height: 60vh;
text-align: center;
}

#hero div {
padding: 20px;
}

#articles {
    justify-content: space-between;
}

#contact {
justify-content: space-around;

}

#video {
    padding: 0;
}

#contact div {
    padding: 20px;
}

#btn-form {
    width: 90%;
}